@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: antiquewhite;
}

nav a {
    background-color: burlywood;
    padding: 1rem;
    border: 2px solid black;
    text-align: center;
}

nav a:nth-child(2)::after {
    color: red;
    content: 'I am the second a tag';
    display: block;
}

/* PSUEDO CLASSES: Selector which selects elements in a certain state
        example: a:visited / hover / focus.
        Psuedo classes use one colon (:).
   PSUEDO ELEMENTS:  */
