@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: antiquewhite;
}

nav a {
    background-color: burlywood;
    padding: 1rem;
    border: 2px solid black;
    text-align: center;
    position: relative;
}

nav a::first-letter {
    font-size: 1.5em;
    font-weight: 800;
    background-color: aqua;
    padding: 0.5em;
    border-radius: 25%;
    margin-right: 0.25em;
}

nav a:nth-child(2)::before {
    color: rgb(0, 0, 0);
    content: open-quote;
    font-size: 2rem;
    position: absolute;
    margin: 0.25rem;
    top: 0.25em;
    left: -0.1em;
}

nav a:nth-child(2)::after {
    color: rgb(0, 0, 0);
    content: close-quote;
    font-size: 2rem;
    position: absolute;
    margin: 0.25rem;
    top: 0.25em;
    right: -0.1em;
}

/* PSUEDO CLASSES: Selector which selects elements in a certain state
        example: a:visited / hover / focus.
        Psuedo classes use one colon (:).
   PSUEDO ELEMENTS:  */
